<section class="dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 mx-auto md:h-[50vh] lg:py-0">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Sign in to your account
        </h1>

        <%= form_with(url: sessions_path, class: 'space-y-4 md:space-y-6') do |f| %>
          <div>
            <%= f.label :email, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %><br>
            <%= f.text_field :email, required: true, autocomplete: "email", class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white' %>
          </div>
          <div>
            <%= f.label :password, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %><br>
            <%= f.password_field :password, required: true, autocomplete: "current-password", class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white' %>
          </div>
          <p>
            <%= f.submit 'Login', class: 'btn btn-blue' %>
          </p>
        <% end %>

      </div>
    </div>
  </div>
</section>