<!DOCTYPE html>
<html>
  <head>
    <title>SchoolOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-gray-200 dark:bg-gray-900 dark:text-white">
    <%= render "shared/sidebar" %>
    <div class="p-8 sm:ml-64">
      <%= render "shared/flash_msg" if flash.present? %>
      <%= yield %>
    </div>
  </body>
</html>
